In [36]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [45]:
df = pd.read_csv('british_airways_reviews.csv', index_col = 'id', na_values = ['', ' '])

In [46]:
df.sample(5)

,Unnamed: 0,review_header,no_of_reviews,passenger_name,country_of_origin,date,is_verified,detailed_review,rating_dict.Aircraft,rating_dict.Type Of Traveller,rating_dict.Seat Type,rating_dict.Route,rating_dict.Date Flown,rating_dict.Seat Comfort,rating_dict.Cabin Staff Service,rating_dict.Food & Beverages,rating_dict.Ground Service,rating_dict.Wifi & Connectivity,rating_dict.Value For Money,rating_dict.Recommended,rating_dict.Inflight Entertainment
id,,,,,,,,,,,,,,,,,,,,,
2216,2216,not be flying BA again,0,G Seeter,United States,16th May 2016,Verified Review,London Heathrow to Newark. Two evenings prior ...,NaN,Couple Leisure,Economy Class,LHR to EWR,May 2016,1.0,1.0,NaN,1.0,NaN,1,no,NaN
2157,2157,service is simply terrible,0,Deborah Jones,Bermuda,17th June 2016,not specified,In April my husband and I had booked business ...,NaN,Couple Leisure,Premium Economy,NAS to LHR,May 2016,2.0,1.0,1.0,3.0,NaN,1,no,2.0
2566,2566,horrible return flights,2,N McAvaney,Australia,26th October 2015,not specified,Endured horrible British Airways return flight...,B0eing 747-400,Business,Economy Class,London to Cape Town,October 2015,1.0,2.0,3.0,4.0,NaN,1,no,2.0
495,495,Absolutely disgraceful,0,Adam Bainbridge,United Kingdom,30th December 2020,Not Verified,Charge £700 fee to make an amendment to a book...,NaN,Family Leisure,Economy Class,London to Maldives,December 2020,NaN,NaN,NaN,NaN,NaN,1,no,NaN
375,375,can't be reached on the phone,0,A Burran,United Kingdom,11th March 2022,Trip Verified,"British Airways is getting worse an worse, my ...",NaN,Business,Economy Class,Copenhagen to London,March 2022,2.0,2.0,1.0,1.0,NaN,1,no,NaN

In [50]:
df.drop('Unnamed: 0', axis = 1, inplace = True)

In [51]:
df.sample(5)

,review_header,no_of_reviews,passenger_name,country_of_origin,date,is_verified,detailed_review,rating_dict.Aircraft,rating_dict.Type Of Traveller,rating_dict.Seat Type,rating_dict.Route,rating_dict.Date Flown,rating_dict.Seat Comfort,rating_dict.Cabin Staff Service,rating_dict.Food & Beverages,rating_dict.Ground Service,rating_dict.Wifi & Connectivity,rating_dict.Value For Money,rating_dict.Recommended,rating_dict.Inflight Entertainment
id,,,,,,,,,,,,,,,,,,,,
3401,British Airways customer review,0,Russ King,United Kingdom,1st September 2014,not specified,BA15 LHR to SIN B777-300ER First Class: nice a...,NaN,NaN,First Class,NaN,NaN,4.0,5.0,5.0,NaN,NaN,2,no,3.0
416,waited for my bags for 3 hours,0,Paul Vella,United Kingdom,19th December 2021,Trip Verified,My flight yesterday 18/12/2021 was due to take...,A320,Solo Leisure,Economy Class,London to Aberdeen,December 2021,NaN,NaN,NaN,1.0,NaN,1,no,NaN
2198,unexpectedly served breakfast,0,Jake Walker,United Kingdom,23rd May 2016,not specified,London City to Isle of Man on BA Cityflyer ope...,Saab 2000,Solo Leisure,Economy Class,LCY to IOM,May 2016,5.0,5.0,5.0,5.0,NaN,5,yes,NaN
133,changed our prepaid seats,0,Derek McLeod,United Kingdom,26th March 2023,Not Verified,BA changed our prepaid seats at the last minut...,NaN,Couple Leisure,Economy Class,Marrakech to London Heathrow,March 2023,1.0,1.0,1.0,1.0,NaN,1,no,NaN
3564,British Airways customer review,0,Barry Hebblethwaite,United Kingdom,4th June 2014,not specified,LHR to BKK in club world over night flight. Lo...,NaN,NaN,Business Class,NaN,NaN,5.0,3.0,4.0,NaN,NaN,5,yes,5.0

In [56]:
df.shape

(3642, 20)

In [54]:
df.isna().sum()

review_header                            0
no_of_reviews                            0
passenger_name                           0
country_of_origin                        4
date                                     0
is_verified                              0
detailed_review                          0
rating_dict.Aircraft                  1751
rating_dict.Type Of Traveller          771
rating_dict.Seat Type                    2
rating_dict.Route                      775
rating_dict.Date Flown                 778
rating_dict.Seat Comfort               111
rating_dict.Cabin Staff Service        121
rating_dict.Food & Beverages           374
rating_dict.Ground Service             844
rating_dict.Wifi & Connectivity       3056
rating_dict.Value For Money              0
rating_dict.Recommended                  0
rating_dict.Inflight Entertainment    1111
dtype: int64

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3642 entries, 0 to 3641
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   review_header                       3642 non-null   object
 1   no_of_reviews                       3642 non-null   int64
 2   passenger_name                      3642 non-null   object
 3   country_of_origin                   3638 non-null   object
 4   date                                3642 non-null   object
 5   is_verified                         3642 non-null   object
 6   detailed_review                     3642 non-null   object
 7   rating_dict.Aircraft                1891 non-null   object
 8   rating_dict.Type Of Traveller       2871 non-null   object
 9   rating_dict.Seat Type               3640 non-null   object
 10  rating_dict.Route                   2867 non-null   object
 11  rating_dict.Date Flown              2864 non-null   object
 12  rating_dict.Seat Comfort            3531 non-null   float64
 13  rating_dict.Cabin Staff Service     3521 non-null   float64
 14  rating_dict.Food & Beverages        3268 non-null   float64
 15  rating_dict.Ground Service          2798 non-null   float64
 16  rating_dict.Wifi & Connectivity     586 non-null    float64
 17  rating_dict.Value For Money         3642 non-null   int64
 18  rating_dict.Recommended             3642 non-null   object
 19  rating_dict.Inflight Entertainment  2531 non-null   float64
dtypes: float64(6), int64(2), object(12)
memory usage: 597.5+ KB